<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COSS Stats</title>
    <meta charset="utf-8">
    <meta name="description"  content="COSS Statistics">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="volume-history">
        <table border="1">
          <thead>
            <tr>
              <th>Date</th>
              <th>Hour</th>
              <th>Volume</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < volumeHistory.length; i++){ %>
              <tr>
                <td><%= volumeHistory[i]["date"]   %></td>
                <td><%= volumeHistory[i]["hour"]   %></td>
                <td><%= volumeHistory[i]["volume"] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="weekly-rewards">
        <table border="1">
          <thead>
            <tr>
              <th>ETH Block</th>
              <th>Date</th>
              <th>Volume</th>
              <th>USD per COSS</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < weeklyRewards.length; i++){ %>
              <tr>
                <td><span><%= weeklyRewards[i]["ethBlock"] %></span><span class="aaa"></span></td>
                <td><%= weeklyRewards[i]["date"]     %></td>
                <td><%= weeklyRewards[i]["volume"]   %></td>
                <td><%= weeklyRewards[i]["value"]    %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div>TODO: Combine the above to find the weekly average fee%</div>
    </div>

    <div class="container">
      <div class="totals">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td>FSA Value</td>
              <td class="fsa-value">$0.00</td>
            </tr>
            <tr>
              <td>Net Value</td>
              <td class="net-value">$0.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="fsa-stats">
        <table>
          <thead>
            <tr>
              <th>Token</th>
              <th>Remaining</th>
              <th>FSA Value</th>
              <th>Fee</th>
              <th>Net Value</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class="delete">Clear Data</div>

      <div class="dropzone">
        <div>Drag and drop your Total_Fee_Split_Allocation.csv here</div>
      </div>
    </div>
  </body>
</html>
